 {% block body %}
  <style>
   .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
   .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
  </style>

  <div class="example-wrapper">

   <table>
    <tr>
     <th>ID</th>
     <th>Name</th>
     <th>Language</th>
     <th>Premiered</th>
    </tr>
    <tbody>
    {%  for contents in content %}
     <tr>
      <td>{{ contents.movieId  }}</td>
      <td>{{ contents.name  }}</td>
      <td>{{ contents.language  }}</td>
      <td>{{ contents.premiered  }}</td>
     </tr>
    {% endfor %}
    </tbody>
   </table>


  </div>
 {% endblock %}